
.courses-section {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin-top: -5rem;
  border-top: none;
}

.cards {
  background: #f73f08;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 0 1rem;
  max-width: 16.5rem;
  gap: 10px;
  box-shadow: 4px 4px 0 #000;
  border: 2px solid #000;
}

.cards h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.cards p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.cards a {
  margin-left: 11rem;
}

.cards:nth-child(2n) {
  margin-left: 0.935rem;
  background: #ff9a3c;
}

.rodape-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-weight: 900;
  font-size: 2.5rem;
  margin: 2rem 0;
}

.rodape-article span {
  color: #e64b1a;
}

.btn-courses{
    max-width: 13rem;
    font-size: 1rem;
}

