
  footer {
    display: grid;
    gap: 10px;
  }
  footer h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
  }

  footer span {
    font-size: 3rem;
  }

  footer p {
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2rem 0;
  }

  .footer-menu a {
    font-size: 1.4rem;
    font-weight: 500;
  }
  footer h4 {
    font-size: 1.6rem;
    line-height: 1;
  }
  footer input {
    border-radius: 4px;
    padding: 0 10px;
    margin: 1.5rem 0;
    width: 250px;
    height: 40px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
  }
  footer input::placeholder {
    color: #414040;
    font-size: 1rem;
    font-weight: 900;
  }

  .btn-footer {
    font-size: 1rem;
    max-width: 13rem;
  }

