

html {
  scroll-behavior: smooth;
  transition: 1s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #000;
}

body {
  box-sizing: border-box;
  background: linear-gradient(90deg, #ffe7d1 0%, #ffe7d1 100%);
  margin: 0 1rem;
  padding: 0 auto;
}



header,
.musicians-section,
.courses-section,
footer {
  border-color: #000;
  border-style: solid;
  border-width: 0.1px 1px 1px;
  padding: 1.25rem;
}

img {
  display: block;
  max-width: 100%;
}

.btn-default {
  border: 2px solid #000;
  box-shadow: 4px 4px 0 #000;
  font-weight: 600;
  display: block;
  background: #e64b1a;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  max-width: 17rem;
  position: relative;
}

span {
  margin: 0;
}

/* simplesmente só isso, acaba com o problema do scroll lateral PORRAAAA */
body, html {
  overflow-x: hidden!important;
  }

