.musicians-section {
  display: grid;
  gap: 20px;
}
.intro {
  justify-content: center;
  align-items: center;
  display: grid;
  position: relative;
  gap: 20px;
  margin-bottom: 150px;
}

.intro h1 {
  font-size: 3.3rem;
  line-height: 1;
  font-weight: 700;
}

.intro span {
  display: block;
  color: #e64b1a;
  position: relative;
}

.intro span::after {
  content: "";
  background: url("../img/three-dashes.svg");
  position: absolute;
  top: -1rem;
  height: 36px;
  width: 40px;
}

.texto-intro {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  max-width: 30ch;
}
.btn-intro::before {
  display: block;
  content: "";
  width: 100%;
  height: 50px;
  background: url(../img/arrow-curve.svg) no-repeat;
  position: absolute;
  top: 5rem;
  left: 10rem;
}

.btn-intro {
  max-width: 13rem;
}
