@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
@import url("./header.css");
@import url("./global.css");
@import url("./main.css");
@import url("./cursos.css");
@import url("./footer.css");
@import url("./responsivo.css");
